{% load static %}
<li>
    <article class="post">
      <a href="{% url "post-detail-page"  "the-mountains"%}" >
        <img src="{% static "blog/images/woods.jpg" %}" alt="Mountain hiking" />
        <div class="post__content">
          <h3>mountain hiking</h3>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
          id odio non felis faucibus aliquet et ut mi. Quisque ut mi arcu. Ut
          non felis vel lacus tempus viverra at sed mauris. In interdum
          porttitor mauris a euismod
          </p>
        </div>
      </a>
    </article>
  </li>